@import 'pages/cv_template';
body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin: 0;
}

@import 'layout/header';
@import 'layout/hero';
@import 'layout/team';
@import 'layout/who';
@import 'layout/footer';
