body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin: 0;
}





@import 'layout/header';
@import 'layout/hero';
@import 'layout/team';
@import 'layout/who';
@import 'layout/footer';




/****** INICIO RESPONSIVE ******/

@media (min-width: 320px) and (max-width: 767px){


    .main_hero_claim {
        margin-top: -10%;
    }
}

/* Tablet */

@media all and (min-width: 768px) {

   
    .main_hero {
        display: flex;
        align-items: flex-end;
    }

    .main_hero_claim {
        opacity: 0.8;
    }

    aside {
        display: flex;
    }

    .main_team_skills {
        width: 50%;
        padding: 20px;
    }

    .main_who_persona {
        flex-direction: row;
        align-items: flex-start;
        padding: 25px 50px;
    }

    .main_who_persona:nth-child(odd) {
        flex-direction: row-reverse;
      }

    .main_who_photo_container {
        margin: 0;
    }

    .main_who_photo {
        box-sizing: border-box;
        width: 220px;
    }

    .main_who_text {
        text-align: right;
        margin: 10px 60px 0 0;
    }

    .main_who_text_odd {
        text-align: left;
        margin: 10px 0 0 60px;
    }
    
    .main_who_social_list {
        justify-content: flex-end;
    }

    .main_who_social_list_odd {
        justify-content: flex-start;
    }
}

/*Desktop*/

@media (min-width: 1200px) {


    .main_hero {
        display: flex;
        align-items: flex-end;
    }
    
    .main_hero_claim {
        opacity: 0.8;
    }
    
    .aside {
        display: flex;
        justify-content: space-between;
        padding: 30px 140px;
        text-align: center;
    }

    .main_team_skills {
        width: 50%;
        padding: 30px;
    }

    .quienes_persona {
        padding: 25px 140px;
    }
    .quienes_texto {
        margin: 10px 60px 0 140px;
    }
    .quienes_texto_odd {
        margin: 10px 140px 0 60px;
    }
}