body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    margin: 0;
}

//Core


//Layout
@import 'layout/header';
@import 'layout/hero';
@import 'layout/team';
@import 'layout/who';
@import 'layout/footer';

//Pages
@import 'pages/cv_template';
@import 'pages/contact_form';

