<footer class="footer">

    <div class="footer_copyright">
        <p>Front | Mafia © 2019</p>
    </div>

    <nav class="footer_navbar">
        <ul class="footer_navbar_list">
            <li class="footer_navbar_item"><a href="#">EQUIPO</a></li>
            <li class="footer_navbar_item"><a href="#">QUIENES SOMOS</a></li>
            <li class="footer_navbar_item"><a href="#">CONTACTO</a></li>
        </ul>
    </nav>
    <img class="footer_logo" src="assets/images/logo-adalab.svg">
</footer>