<footer class="footer">
    <div class="footer_copyright">
        <p class="footer_copyright_text">Front | Mafia © 2019</p>
    </div>

    <nav class="footer_navbar">
        <ul class="footer_navbar_list">
            <li class="footer_navbar_item"><a class="footer_link" href="#team">EQUIPO</a></li>
            <li class="footer_navbar_item"><a class="footer_link" href="#who">QUIENES SOMOS</a></li>
            <li class="footer_navbar_item"><a class="footer_link" href="#">CONTACTO</a></li>
        </ul>
    </nav>
    <div class="footer_logo_container">
        <img class="footer_logo" src="assets/images/logo-adalab.svg">
    </div>
</footer>