<!--<header class="page__header">@@label</header>-->


<header class="header">

    <div class="header_name">
        <h1>Front | Mafia</h1>
    </div>

    <!-- Menú superior de navegación -->

    <nav class="header_navbar">
        <ul>
            <li class="header_navbar_name">Front | Mafia</li>
            <li class="header_navbar_item"><a href="#team">EQUIPO</a></li>
            <li class="header_navbar_item"><a href="#who">QUIENES SOMOS</a></li>
            <li class="header_navbar_item"><a href="#">CONTACTO</a></li>
        </ul>
    </nav>

</header>
