<!--<header class="page__header">@@label</header>-->


<header class="header">
    <div class="header_container">
        <div class="header_name">
            <h1 class="header_frontmafia"><a class="header_link" href="/"> Front | Mafia</a></h1>
        </div>

        <!-- Menú superior de navegación -->

        <nav class="header_navbar">

            <ul class="header_navbar-list">
                <li class="header_navbar_item"><a class="header_link" href="../index.html#team">EQUIPO</a></li>
                <li class="header_navbar_item"><a class="header_link" href="../index.html#who">QUIENES SOMOS</a></li>
                <li class="header_navbar_item"><a class="header_link" href="../contact_form.html">CONTACTO</a></li>
            </ul>
        </nav>
        </div>
</header>
