<main class="main_cv">
    <section class="header_cv">
        <h2 class="name">
            Lara Rodríguez Barbero
        </h2>
       <div class="photo_container">
            <img class="photo_main" src="../../assets/images/lara_buena.jpg" alt="">
            <div class="contact_info">
                <ul class="info_list">
                    <li class="info_tel">
                        <i class="fas fa-phone"></i> <a href="#">0000000</a>
                    </li>
                    <li class="info_email">
                        <i class="fas fa-envelope"></i> <a href="mailto:-----">bjkdsbf@bjfbg.com</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </section>
    <section class="info_cv">
        <div class="jobs">
            <h3 class="jobs_title">Experiencia laboral</h3>
            <p class="jobs_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam veritatis, quos voluptatum earum, distinctio maiores ipsam laborum accusamus aperiam facilis ducimus rerum error aliquam deleniti neque, debitis maxime enim vitae.</p>
        </div>
        <div class="career">
            <h3 class="career_title">Formación</h3>
            <p class="career_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam veritatis, quos voluptatum earum, distinctio maiores ipsam laborum accusamus aperiam facilis ducimus rerum error aliquam deleniti neque, debitis maxime enim vitae.</p>
        </div>
        <div class="more_info">
            <h3 class="more_info_title">Información adicional</h3>
            <p class="more_info_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam veritatis, quos voluptatum earum, distinctio maiores ipsam laborum accusamus aperiam facilis ducimus rerum error aliquam deleniti neque, debitis maxime enim vitae.</p>
        </div>
    </section>
    <section class="social_cv">
        <div class="social">
            <ul class="social_list">
                <li class="social_cv_item"><a href="https://twitter.com/_gradiva?lang=es" target="_blank"><i class="fab fa-twitter"></i></li>
                <li class="social_cv_item"></li>
                <li class="social_cv_item"></li>
                <li class="social_cv_item"></li>
            </ul>
        </div>
    </section>
    
</main>