<section id="team" class="main_team" tabindex="0">
    <div class="main_team_description">
        <h2 class="main_team_title">Equipo</h2>
        <p class="main_team_text">El equipo, formado por alumnas de Adalab, tiene un pasado multidisciplinar aportando diferentes perspectivas que enriquecen el grupo. La motivación y ganas de aprender son las características que definen y marcan el camino para que cada una de las componentes lleguen a ser programadoras front-end.</p>
    </div>
    <div class="main_team_triangle"></div>
    <aside class="sw_container">
        <div class="main_team_skills sw_1">
            <h3 class="main_team_sw_title">Fortalezas</h3>
            <p class="main_team_sw_text">Gracias a la variedad de perfiles que forman el equipo, la versatilidad y la creatividad son dos de los puntos fuertes del grupo. Además, el compañerismo y la cooperación dentro del trabajo en equipo convierten a Front | Mafia en un grupo muy competente.</p>
        </div>
        <div class="main_team_skills sw_2">
            <h3 class="main_team_sw_title">Debilidades</h3>
            <p class="main_team_sw_text">Aunque actualmente se cuenta con poca experiencia, lo que puede retrasar el proceso de trabajo en algunos momentos, esto agudiza la planificación de los proyectos así como los tiempos establecidos para cada tarea.</p>
        </div>
    </aside>
</section>