<section id="who" class="main_who">
    <div class="wrapper">
        <h2 class="main_who_title">Quiénes somos</h2>
        <ul class="who_list">
            <li class="main_who_person">
                <div class="main_who_photo_container main_who_photo_container_odd">
                    <img class="main_who_photo" src="assets/images/lara.jpg" alt="foto-lara">
                </div>
                <div class="main_who_text main_who_text_odd">
                    <div class="main_who_name_container">
                        <h3 class="main_who_name">Lara Rodríguez</h3>
                    </div>
                    <div class="main_who_description">
                        <p class="main_who_description_text">Comunicadora audiovisual en origen, Lara es una persona versátil, curiosa e inquieta intelectualmente, lo que le lleva a realizar estudios en ámbitos tan dispares como la historia del arte o la postproducción digital de vídeo. Tras las experiencias vividas en diversas ciudades del país, aterriza en Madrid para dar un vuelco a su vida a través de Adalab con un objetivo claro: convertirse en programadora front-end.</p>
                    </div>
                    <div class="main_who_social">
                        <ul class="main_who_social_list main_who_social_list_odd">
                            <li class="main_who_social_item"> <a class="icon" href="https://twitter.com/_gradiva?lang=es" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="main_who_social_item"><a class="icon" href="https://www.linkedin.com/in/lara-rodriguez-barbero-05911451/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li class="main_who_social_item"><a class="icon" href="https://github.com/" target="_blank"><i class="fab fa-github-alt"></i></a>
                            </li>
                            <li class="main_who_social_item"><a class="icon" href="mailto:lararb91@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="main_who_person">
                <div class="main_who_photo_container">
                    <img class="main_who_photo" src="assets/images/leire.jpg" alt="foto-leire">
                </div>
                <div class="main_who_text">
                    <div class="main_who_name_container">
                        <h3 class="main_who_name">Leire Rico</h3>
                    </div>
                    <div class="main_who_description">
                        <p class="main_who_description_text">Leire tiene muchas ganas de aprender y desempeñar un trabajo que suponga un reto y explote su creatividad. Es así como se interesó por el front-end, que ahora estudia a tiempo completo gracias a Adalab. A este perfil se suman sus estudios como historiadora del arte y su experiencia en instituciones culturales y servicios de información al  cliente.</p>
                    </div>
                    <div class="main_who_social">
                        <ul class="main_who_social_list">
                            <li class="main_who_social_item"><a class="icon" href="https://twitter.com/leireriel1?lang=es"       target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="main_who_social_item"><a class="icon" href="https://es.linkedin.com/in/leire-rico-prieto" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li class="main_who_social_item"><a class="icon" href="https://github.com/leireriel" target="_blank"><i class="fab fa-github-alt"></i></a>
                            </li>
                            <li class="main_who_social_item"><a class="icon" href="mailto:leirericop@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="main_who_person">
                <div class="main_who_photo_container main_who_photo_container_odd">
                    <img class="main_who_photo" src="assets/images/lorena.jpg" alt="foto-lorena">
                </div>
                <div class="main_who_text main_who_text_odd">
                    <div class="main_who_name_container">
                        <h3 class="main_who_name">Lorena Benito</h3>
                    </div>
                    <div class="main_who_description">
                        <p class="main_who_description_text">Historiadora y tasadora de obras de arte. Ha trabajado como guía, colaborando en diferentes galerías, ARCO y en el mundo retail. Actualmente, dándole un vuelco a su carrera profesional, quiere invertir toda su creatividad y conocimientos sobre arte como front-end.</p>
                    </div>
                    <div class="main_who_social">
                        <ul class="main_who_social_list main_who_social_list_odd">
                            <li class="main_who_social_item"> <a class="icon" href="https://twitter.com/LorenaBenitoHe1?lang=es"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="main_who_social_item"><a class="icon" href="https://www.linkedin.com/in/lorena-benito-herrero-251779135/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li class="main_who_social_item"><a class="icon" href="https://github.com/LorenaBH" target="_blank"><i class="fab fa-github-alt"></i></a>
                            </li>
                            <li class="main_who_social_item"><a class="icon" href="mailto:lorenabenitoherrero@gmail.com"                            target="_blank"><i class="fas fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="main_who_person">
                <div class="main_who_photo_container">
                    <img class="main_who_photo" src="assets/images/marta.jpg" alt="foto-marta">
                </div>
                <div class="main_who_text">
                    <div class="main_who_name_container">
                        <h3 class="main_who_name">Marta Sobrino</h3>
                    </div>
                    <div class="main_who_description">
                        <p class="main_who_description_text">Community manager y creativa publicitaria de inicio fue evolucionando hacia el mundo del diseño gráfico y web. Después de pasar por grandes multinacionales, start-up y alguna que otra agencia se sumerge de lleno en el siguiente paso y el siguiente reto: el Front-end.</p>
                    </div>
                    <div class="main_who_social">
                        <ul class="main_who_social_list">
                            <li class="main_who_social_item"> <a class="icon" href="https://twitter.com/Msonlin76094292?lang=es"   target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="main_who_social_item"><a class="icon" href="https://es.linkedin.com/in/marta-sobrino-b7647143" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li class="main_who_social_item"><a class="icon" href="https://github.com/MartaSobrino" target="_blank"><i class="fab fa-github-alt"></i></a>
                            </li>
                            <li class="main_who_social_item"><a class="icon" href="mailto:marta.sobrino.web@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="main_who_person">
                <div class="main_who_photo_container main_who_photo_container_odd">
                    <img class="main_who_photo" src="assets/images/victoria.jpg" alt="foto-victoria">
                </div>
                <div class="main_who_text main_who_text_odd">
                    <div class="main_who_name_container">
                        <h3 class="main_who_name">Victoria Díaz</h3>
                    </div>
                    <div class="main_who_description">
                        <p class="main_who_description_text">Victoria viene del mundo audiovisual y desde que escuchó hablar de Adalab empezó a indagar en el mundo de la programación hasta que consiguió sentarse en las mesas de Google Campus y poder labrar un nuevo futuro laboral gracias a esta fundación.</p>
                    </div>
                    <div class="main_who_social">
                        <ul class="main_who_social_list main_who_social_list_odd">
                            <li class="main_who_social_item"> <a class="icon" href="https://twitter.com/DiroVic" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="main_who_social_item"><a class="icon" href="https://www.linkedin.com/in/victoriadiro/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li class="main_who_social_item"><a class="icon" href="https://github.com/VictoriaDiro" target="_blank"><i class="fab fa-github-alt"></i></a>
                            </li>
                            <li class="main_who_social_item"><a class="icon" href="mailto:victoriadiro01@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
