@charset "UTF-8";

body {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  margin: 0;
}/* HEADER */.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  z-index: 2;
}

.header_name {
  width: 100vw;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #099d8d;
  opacity: 0.95;
  color: white;
}

.header_navbar {
  width: 100vw;
  background-color: #14d9c4;
  opacity: 0.9;
  color: white;
}

.header_navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header_navbar_item {
  list-style: none;
}

a {
  color: inherit;
  font-weight: bolder;
  text-decoration: none;
}

.main_hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
}

.main {
  margin: 0 auto;
}

.main_hero_img {
  width: 100%;
  height: 421px;
  background-image: url("../../../assets/images/grupal.jpg");
  background-size: cover;
  background-position: center 60px;
  position: relative;
}

.main_hero_claim {
  padding: 30px 10px 30px 10px;
  position: absolute;
  z-index: 1;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  margin: 0 auto;
  background-color: white;
  font-size: 24px;
}

aside {
  background-color: rgba(184, 184, 185, 0.2);
  text-align: center;
  padding: 30px 15px;
  margin-top: -20px;
}

h2,h3 {
  font-family: 'Rubik', sans-serif;
}

.main_team_title {
  color: #14d9c4;
  text-transform: uppercase;
}

.main_team_sw_title {
  color: #099d8d;
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  text-align: center;
  color: #54585a;
}

.main_team {
  text-align: center;
  padding: 30px 15px;
}

.main_team_triangle {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid white;
}

.main_who {
  color: #14d9c4;
}

.main_who_person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 25px;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.main_who_photo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.main_who_photo {
  border-radius: 4px;
  width: 60%;
  border: solid rgba(0, 0, 0, 0.08) 5px;
  max-width: 220px;
}

.main_who_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  color: #54585a;
}

.main_who_name_container,.main_who_description,.main_who_social {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #099d8d;
}

.main_who_description {
  margin: 20px 0;
}

.main_who_social {
  margin: 0 0 50px 0;
}

.main_who_name,.main_who_description_text {
  display: inline;
  margin: 0;
}

.main_who_social_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main_who_social_item:not(:first-child)::before {
  content: "·";
  vertical-align: middle;
  font-size: 20px;
  margin: 0 11px;
}

.fa-twitter,.fa-github,.fa-linkedin,.fa-envelope {
  color: #099d8d;
  font-size: 20px;
}

.footer {
  margin: 0 auto;
  border-top: 1px solid #b8b8b9;
}

.footer_reg {
  padding-top: 30px;
}

.footer_reg p {
  color: #b8b8b9;
}

.footer_navbar {
  padding-top: 30px;
  color: grey;
}

.footer_logo {
  width: 200px;
  margin: 0 auto;
  margin: 10% 0 8% 0;
}/* HEADER */.header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  z-index: 2;
}

.header_name {
  width: 100vw;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #099d8d;
  opacity: 0.95;
  color: white;
}

.header_navbar {
  width: 100vw;
  background-color: #14d9c4;
  opacity: 0.9;
  color: white;
}

.header_navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header_navbar_item {
  list-style: none;
}

a {
  color: inherit;
  font-weight: bolder;
  text-decoration: none;
}/*.main_cv {
    margin: 10%;
}*/.header_cv {
  text-align: center;
}

.photo_container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.photo_main {
  margin: 0 auto;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  border: 15px solid lightgray;
}

.name {
  border-bottom: 2px solid lightgrey;
}

.footer {
  margin: 0 auto;
  border-top: 1px solid #b8b8b9;
}

.footer_reg {
  padding-top: 30px;
}

.footer_reg p {
  color: #b8b8b9;
}

.footer_navbar {
  padding-top: 30px;
  color: grey;
}

.footer_logo {
  width: 200px;
  margin: 0 auto;
  margin: 10% 0 8% 0;
}

.image_form {
  background-image: url("../images/hero_contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.container_contact {
  margin: 0 10px;
}

.label {
  display: block;
  margin-top: 13px;
}

.container_form {
  text-align: left;
  padding: 0 15px;
}

.text_container {
  padding-bottom: 58px;
}

.input_form {
  width: 100%;
  height: 45px;
  padding-left: 15px;
  border: 1px solid #b8b8b9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.message_form {
  padding: 15px;
  border: 1px solid #b8b8b9;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.button {
  width: 100%;
  background: #099d8d;
  border-radius: 4px;
  height: 45px;
  border-style: none;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
}

.container_button {
  width: 100%;
  text-align: center;
  margin: 20px 0 60px 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .header_navbar_name {
    display: none;
  }

  .main_hero_claim {
    margin-top: -10%;
  }

  .header_navbar_name {
    display: none;
  }
}

@media all and (min-width: 768px) {
  .header_name {
    display: none;
  }

  .header_navbar {
    background-color: #099d8d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 40%;
  }

  .header_navbar_item {
    padding-left: 1%;
    padding-right: 1%;
  }

  .header_navbar_name {
    font-weight: bold;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .main_hero_img {
    background-position: center -80px;
  }

  .main_hero_claim {
    opacity: 0.8;
    position: absolute;
  }

  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main_team_skills {
    width: 50%;
    padding: 20px;
  }

  .main_who_person {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 25px 50px;
  }

  .main_who_person:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .main_who_photo_container {
    margin: 0;
  }

  .main_who_photo {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 220px;
  }

  .main_who_text {
    text-align: right;
    margin: 10px 60px 0 0;
  }

  .main_who_text_odd {
    text-align: left;
    margin: 10px 0 0 60px;
  }

  .main_who_social_list {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .main_who_social_list_odd {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 30px;
  }

  .footer_navbar {
    text-align: right;
    line-height: 2.15;
  }

  .footer_logo {
    position: absolute;
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 150px;
  }

  .header_name {
    display: none;
  }

  .header_navbar {
    background-color: #099d8d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 40%;
  }

  .header_navbar_item {
    padding-left: 1%;
    padding-right: 1%;
  }

  .header_navbar_name {
    font-weight: bold;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 30px;
  }

  .footer_navbar {
    text-align: right;
    line-height: 2.15;
  }

  .footer_logo {
    position: absolute;
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 150px;
  }

  .label {
    margin-bottom: 7px;
  }

  .container_form {
    width: 442px;
    margin: 0 auto;
  }

  .text_container {
    width: 442px;
    margin: 0 auto;
    padding-top: 30px;
  }

  .button {
    width: 206px;
  }

  .container_button {
    text-align: right;
  }
}

@media (min-width: 1200px) {
  .header_name {
    display: none;
  }

  .header_navbar {
    background-color: #099d8d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 40%;
  }

  .header_navbar_item {
    padding-left: 1%;
  }

  .header_navbar_name {
    font-weight: bold;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .main_hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .main_hero_claim {
    opacity: 0.8;
  }

  aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 140px;
    text-align: center;
  }

  .main_team_skills {
    width: 50%;
    padding: 30px;
  }

  .main_who_person {
    padding: 25px 140px;
  }

  .main_who_text {
    margin: 10px 60px 0 140px;
  }

  .main_who_text_odd {
    margin: 10px 140px 0 60px;
  }

  .header_name {
    display: none;
  }

  .header_navbar {
    background-color: #099d8d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 40%;
  }

  .header_navbar_item {
    padding-left: 1%;
  }

  .header_navbar_name {
    font-weight: bold;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}

@media all and (min-width: 1200px) {
  .main_hero_img {
    width: 100%;
    height: 550px;
    background-position: 0 -90px;
  }

  .container_form {
    width: 601px;
  }

  .text_container {
    width: 601px;
    padding-top: 45px;
  }

  .container_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .container_email {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    margin-right: 44px;
  }
}

/*# sourceMappingURL=main.css.map */
