.footer {
    margin: 0 auto;
    border-top: 1px solid #b8b8b9;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 90px 90px;

    @media all and (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0px;}
}

.footer_copyright {
    padding-top: 30px;

    @media all and (min-width: 768px) {
        color: #b8b8b9;
        margin-left: 45px;
        
        padding: 0;
        padding-top: 10px;
        width: 172px;
        height: 20px;
        text-align: left;
        grid-column: span 1;
        grid-row: span 1;
    }
}

.footer_navbar {
    margin-bottom:30px;
    color: grey;

    @media all and (min-width: 768px) {
        width: 324px;
        height: 90px;
        grid-column: span 1;
        grid-row: span 2;
        margin: 0;
        text-align: right;
        line-height: 2.15;}
}

.footer_navbar_list {
    padding: 0px;
}

.footer_navbar_item {
    list-style: none;
}

.footer_logo {
    width: 115.9px;
    margin-bottom: 45px;
    justify-content: center;

    @media all and (min-width: 768px) {
        margin-left: 45px;
        width: 115.9px;
        margin-bottom: 45px;
        grid-column: span 2;
        grid-row: span 2;
        text-align: left;}
}