.footer {
    margin: 0 auto;
    border-top: 1px solid  $lightgrey;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 100px 120px;
    @media all and(min-width: 768px){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30px 100px;
        padding: 24px $paddingMedium;}
    @media all and(min-width: 1024px) {
        padding: $paddingLarge;
        padding-top: 20px;
    }
}

.footer_copyright_text {
    padding: 20px 0;
    color: $lightgrey;
    font-size: $footerText;
    text-align: center;
    @media all and (min-width: 768px) {
        padding: 0;
        text-align: left;
        grid-column: span 1;
        grid-row: span 1;
    }
}

.footer_navbar {
    margin-bottom:30px;
    @media all and (min-width: 768px) {
        grid-column: span 1;
        grid-row: span 2;
        margin: 0;
        text-align: right;}
}

.footer_navbar_list {
    text-align: center;
    @media all and (min-width: 768px) {text-align: right; 
    margin-block-start: 0;}
}

.footer_link {color: $fontColor;
    font-family: $fontText;
    font-weight: 600;
    line-height: 20px;
    font-size: 14px; 
    @media all and (min-width: 768px) {
        line-height: 30px;
        color: $lightgrey;
    }
}

.footer_logo_container {display: flex;
    justify-content: center;
    @media all and (min-width: 768px) {
        justify-content: flex-start;}
    }
.footer_logo {
    width: 116px;
    margin-bottom: 45px;
    @media all and (min-width: 768px) {
        width: 115.9px;
        grid-column: span 2;
        grid-row: span 2;
        margin-bottom: 0;}
}