.header_container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 2;

    @media all and (min-width: 768px) {
        width: 100vw;
        flex-direction: row;
        justify-content: space-between;
    }
}

.header_name {
    width: 100vw;
    height: 60px;
    background-color: $primaryColor; 
    opacity: 0.95;  
    display:flex;
    justify-content: center;
    align-items: center;
 

    @media all and (min-width: 768px) {
        justify-content: flex-start;
        padding-left: $paddingMedium; 
        opacity: 0.9;
    }
    @media all and (min-width: 1200px) {
        padding-left: 140px;
    }
}

.header_frontmafia {
    margin: 0;
    font-weight: bold;
    font-size: $sizeText;
}

.header_link {
    color: $whiteColor;
    font-family: $fontTitle;
}

.header_navbar {
    width: 100vw;
    height: 60px;
    background-color: $secondaryColor;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $sizeNavbar;

    @media all and (min-width: 768px) {
        background-color: $primaryColor;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: $paddingMedium;
        }   
    @media all and (min-width: 1200px) {
        padding-right: 140px;
        }
    }   

.header_navbar-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header_navbar_item {
    list-style: none;
    font-weight: bolder;
}
.header_navbar_item:nth-child(2) {
    padding: 0 15px;
}
