/* HEADER */

.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 2;
}

.header_name {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #099d8d; 
    opacity: 0.95;  
    color: white;

    @media all and (min-width: 768px) {display: none;}
    @media (min-width: 1200px) { display: none;}

}

.header_navbar {
    width: 100vw;
    background-color: #14d9c4;
    opacity: 0.9;  
    color: white;

    @media all and (min-width: 768px) {background-color: #099d8d;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 40%; }
    @media (min-width: 1200px) {background-color: #099d8d;
        display: flex;
        justify-content: flex-end;
        padding-right: 40%; }   
    }   

.header_navbar-list {
    display: flex;
    justify-content: space-between;

}

.header_navbar_item {
    list-style: none;
    @media all and (min-width: 768px) { padding-left: 1%;
        padding-right: 1%;}
    @media (min-width: 1200px) {padding-left: 1%;}
}

a {
    color: inherit;
    font-weight: bolder;
    text-decoration: none;
}

.header_navbar_name {
    @media (min-width: 320px) and (max-width: 767px){
        display: none;}

    @media all and (min-width: 768px) {font-weight: bold;
        justify-content: flex-start;}
    @media (min-width: 1200px) {font-weight: bold;
        align-self: flex-start;}
}