/*GENERALES*/

a {
    text-decoration: none; 
    color: white;
    font-family: $fontTitle;
}

/* HEADER */

.header_container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 1;

    @media all and (min-width: 768px) {
        width: 100vw;
        flex-direction: row;
        justify-content: space-between;
    }
}

.header_name {
    width: 100vw;
    height: 60px;
    background-color: #099d8d; 
    opacity: 0.95;  
    display:flex;
    justify-content: center;
    align-items: center;
 

    @media all and (min-width: 768px) {
        justify-content: flex-start;
        padding-left: 45px; 
    }
    @media all and (min-width: 1200px) {
        padding-left: 140px;
    }
}

.header_frontmafia {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.header_navbar {
    width: 100vw;
    height: 60px;
    background-color: #14d9c4;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;

    @media all and (min-width: 768px) {
        background-color: #099d8d;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 45px;
        }   
    @media all and (min-width: 1200px) {
        padding-right: 140px;
        }
    }   

.header_navbar-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header_navbar_item {
    list-style: none;
    font-weight: bolder;
}
.header_navbar_item:nth-child(2) {
    padding: 0 15px;
}
