.main {
    margin: 0 auto;
}

.main_hero_container {
    width: 100%;
    height: 421px;
    background-image: url('../assets/images/grupal.jpg');
    background-size: cover;
    background-position: center 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
   

    @media all and (min-width: 768px) {
        background-position: center -80px;
        align-items: flex-start;
    }
    @media all and (min-width: 1200px) {
        width: 100%;
        height: 550px;
        background-position: 0 -90px;
    }
 }

 .main_hero_claim { 
    margin: $paddingMin;
    box-sizing: border-box;
    padding: 15px;
    transform: translateY(50%);
    background-color: white; 
  
  

    /*PENDIENTE DE REVISIÓN CON CARLOS*/

    @media all and (min-width: 768px) {
        padding: 15px 30px;
        opacity: 0.8;
        transform: translateY(0);
        margin: 0 46px;
    }
    @media all and (min-width: 1200px) {
        margin: $paddingLarge;
    }
}

.claim_text {
    margin: 0;
    font-size: $sizeHero;
    font-family: $fontText;
    line-height: 1.39;
    
    @media all and (min-width: 1200px) {
        font-size: $mainLineHeight;
    }
}