/* MAIN: HERO */

.main_hero {
    position: relative;
}

/* imagen */

.main {
    margin: 0 auto;
}

.main_hero_img {
    width: 100%;
    height: 421px;
    background-image: url('../../../assets/images/grupal_buena.jpg');
    background-size: cover;
    background-position: center 60px;
}

/* Claim */

.main_hero_claim { 
    padding: 30px 10px 30px 10px;
    position: absolute;
    z-index: 1;
    transform: scale(0.9);
    margin: 0 auto;
    background-color: white; 
    font-size: 24px;
}
