//Fonts
$fontTitle: 'Rubik', sans-serif; 
$sizeMainTitle: 24px;
$sizeSecondaryTitle: 22px;

$fontText: 'Open Sans', sans-serif;
$sizeNameTitle: 20px;
$sizeText: 16px;
$sizeHero: 18px;

$mainLineHeight: 24px;
$heroLineHeight: 25px;

//Colors
$primaryColor: #099d8d;
$secondaryColor: #14d9c4;
$fontColor: #54585a;
$colorNameTitle: #000000;

//Paddings
$paddingMin: 0 15px;
$paddingMedium: 45px;
$paddingLarge: 0 138px;


